@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.about {
    &__heading {
        text-align: center;
        font-family: "Pacifico";
        font-size: "2rem";
        color: "grey";
        margin-bottom: 30px;
        font-weight: "normal";
    }
    &__paragraph {
        text-align: justify;
        font-size: "1.2rem";
        color: "black";
        margin-bottom: "1rem";
    }
    &__font {
        font-family: "Poppins";
    }
}
